
body {
	font-family: 'Roboto Slab', serif;
	max-height: 100%;
	overflow: hidden;
}

#players_waiting {
	width: 1000px;
	display: block;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
}

#circle {
	display: inline-block;
    background: grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2px;
}

#circle_ready {
	display: inline-block;
	background: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;	
    margin: 2px;
}

#canvas {
	outline: 1px solid lightgray;
}

body.observer #observer,
body.controller #controller {
	display: block;
}

.info {
	display: none;
	position: absolute;
	top: 0;
	right: 0;

	background-color: #fff;
    background-color: rgba(255,255,255,0.5);

    padding: 10px;

	/*
	-webkit-text-stroke: 1px white;
   	color: black;
   	text-shadow:
       3px 3px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
    */
}

.info strong {
	font-size: 30px;
}

.info small {
	display: block;
	padding-left: 10px;
}

#chat .btn {
	height: 26px;
	padding: 0;
	margin-top: -2px;
	padding-left: 5px;
	padding-right: 5px;
}

#canvas {
	margin: auto;
}

#chat-toggle:not(:checked) ~ form {
	display: none;
}

#chat-toggle:checked ~ #latest-chat {
	display: none;
}

#chat {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	border: 1px solid gray;
	padding: 5px;

	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;

	background: white;
	opacity: 0.8;
}

#chat strong {
	margin-right: 5px;
}

#chat #chat_list {
	width: 98%;
	font-size: 12px;
	height: 150px;
	overflow-y: scroll;
}

#chat input[type="text"] {
	width: 90%;
}

#loading,
#lobby {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	padding-top: 40px;

	background: white;
	opacity: 0.7;

	display:inline-block;
	text-align: center;
	font-size: 24px;
}

#lobby .title {
	font-size: 80px;
}

#energyText {
	font-size: 16px;
	color: #383c57;
}

.ability {
	width: 100%;
	height: 50px;
  	line-height: 50px;
	font-size: 30px;
	color: #383c57;
	margin: 3px;
}

img.abilityelem {
	height: 100%;
	vertical-align: top;
}

.abilityelem { 
	margin-right: 5px;
	float: left;
}

.victory strong {
	color: green;
}

.defeat strong {
	color: darkred;
}

#wantape {
	width:250px;
	margin-top: 50px;
	padding: 20px;
	color: white;
	background-color: #43505d;
}

#wantape:hover {
	background-color: #436e9d;
	color: white;
}

#wantobs {
	width:250px;
	padding: 20px;
	margin-top: 15px;
	margin-left: -6px;
	color: white;
	background-color: #53912F;
}

#wantobs:hover {
	color: white;
	background-color: #7CCF30;
}