
body {
	font-family: 'Roboto Slab', serif;
}

#chat {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid gray;
	padding: 5px;

	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;

	background: white;
	opacity: 0.8;
}

#chat textarea {
	resize: none;
	width: 98%;
}

#loading,
#lobby {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: white;
	opacity: 0.7;

	text-align: center;
	font-size: 24px;
}

#lobby .title {
	font-size: 80px;
}

.victory strong {
	color: green;
}

.defeat strong {
	color: darkred;
}